.card {
  width: 100%;
  max-width: 370px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
  background: #fff;
  display: flex;
  flex-direction: column;
  direction: rtl;
  transition: transform 0.2s ease-out, box-shadow 0.3s ease-out;
  -webkit-transition: transform 0.2s ease-out, box-shadow 0.3s ease-out;
  -moz-transition: transform 0.2s ease-out, box-shadow 0.3s ease-out;
  -ms-transition: transform 0.2s ease-out, box-shadow 0.3s ease-out;
  -o-transition: transform 0.2s ease-out, box-shadow 0.3s ease-out;
}

.card:hover {
  transform: translateY(-5px) scale(1.03) !important;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-5px) scale(1.03) !important;
  -moz-transform: translateY(-5px) scale(1.03) !important;
  -ms-transform: translateY(-5px) scale(1.03) !important;
  -o-transform: translateY(-5px) scale(1.03) !important;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 230px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dateBadge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #2a49ff;
  color: white;
  text-align: center;
  border-radius: 8px;
  padding: 6px 10px;
  font-size: 14px;
}

.day {
  display: block;
  font-weight: bold;
  font-size: 16px;
}

.month {
  font-size: 12px;
}

.content {
  padding: 16px 20px;
}

.meta {
  font-size: 14px;
  color: #888;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 8px;
}
.meta i {
  color: var(--primary-color);
}

.meta span {
  display: flex;
  align-items: center;
  gap: 6px;
}

.description {
  font-size: 15px;
  line-height: 1.7;
  margin-bottom: 12px;
  color: #333;
}

.link {
  color: #f4a300;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.2s;
}

.link:hover {
  color: #d48800;
}
