.heading {
  background-size: cover;
  background-position: center;
  height: 40vh;
  min-height: 300px;
  font-size: 48px;
  font-weight: bold;
  width: 90%;
  margin: 15px auto;
}
.heading h2 {
  color: #eff3ff;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 80px; /* 133.333% */
}
.heading p {
  color: #eff3ff;

  text-align: center;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 60px; /* 200% */
}
.arrow {
  color: var(--secondary-color);
  margin: 0 1rem;
  font-size: 0.4em;
}
.heading a {
  color: #eff3ff;
  font-size: 0.5em;
  font-weight: 700;
}
.heading .arrow + a {
  color: var(--secondary-color);
  font-weight: 600;
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .heading {
    font-size: 36px;
  }
}
