.heading {
  color: var(--Text-color);
  width: fit-content;
}
.heading {
  position: relative;
  z-index: 1;
  transition-property:color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
/* .heading::after {
  content: "";
  display: block;
  width: 0;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  top: 0;
  border-radius: 10px;
  z-index: -1;
  background-color: transparent;
  transition-property: width, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.heading:hover::after {
  width: 100%;
  background: var(--secondary-color);
}
.heading:hover {
  color: white;
} */
