.NoDataFounded{
    min-height: 75vh;
}
.NoDataFounded img {
    max-width: 25%;
    margin: 10px ;
    animation: scaleAnimation 1s ease-in-out infinite  alternate ;
    -webkit-animation: scaleAnimation 1s ease-in-out infinite  alternate ;
}

.NoDataFounded P {
    text-align: center;
    font-weight: bolder;
    font-size: 28px;
    color: var(--Text-color);
}

@keyframes scaleAnimation {
    0% {
        scale: 1;
        opacity: 1;
    }
    
    100% {
        scale: 0.8;
        opacity: 0.5;
    }


}