.ServiceCard {
  width: 100%;
  max-width: 370px;
  margin: 10px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
  background: #fff;
  display: flex;
  flex-direction: column;
  direction: rtl;
  transition: transform 0.2s ease-out, box-shadow 0.3s ease-out;
  -webkit-transition: transform 0.2s ease-out, box-shadow 0.3s ease-out;
  -moz-transition: transform 0.2s ease-out, box-shadow 0.3s ease-out;
  -ms-transition: transform 0.2s ease-out, box-shadow 0.3s ease-out;
  -o-transition: transform 0.2s ease-out, box-shadow 0.3s ease-out;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.ServiceCard:hover {
  transform: translateY(-5px) scale(1.03) !important;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-5px) scale(1.03) !important;
  -moz-transform: translateY(-5px) scale(1.03) !important;
  -ms-transform: translateY(-5px) scale(1.03) !important;
  -o-transform: translateY(-5px) scale(1.03) !important;
}
.content {
  padding: 16px 20px;
}
.title {
  color: #0f0d1d;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
}
.description {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}

.link {
  color: #f4a300;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.2s;
}

.link:hover {
  color: #d48800;
}
.imageWrapper {
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0px 15px;
  border-radius: 20px;
  background: linear-gradient(135deg, transparent 30%, #f3f7fb 30%);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.imageWrapper img {
  width: 90px;
  aspect-ratio: 1/ 1;
}
